<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <title>New Ticket Requester Info</title>
  </head>
  <body>
    <main>
      <picture>
        <img
          src="http://placeholder.pics/svg/210/D6FFAA-7CFFD8/5728FF-B3B3B3/new_tkt_req_info"
          alt="new tkt requester info"
        />
      </picture>
    </main>
  </body>
  <script defer>
    (async function init() {
      var client;
      client = await app.initialized();
      client.events.on('app.activated', () => {
        console.info(`new_ticket_requester_info:  app is activated 🥁`);
      });
    })();
  </script>
</html>
